{% extends 'base.html' %}
{% load staticfiles %}

{% block blockone %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->


	<title>Document</title>
</head>

<body>


	<div class="" style="background-color: white;">
	<div class="container">
	<div class="row">
		<div class="col-md-12" id="rec_col">
		{% for recipe in recipes %}
			<a class="centerText text-capitalize" href="/detail/{{ recipe.slug }}">{{ recipe.name|safe }}</a><br />
		{% endfor %}
		</div>
	</div>

	</div> <!--row fluid-->


	</div><!--container-->

</body>

{% endblock blockone %}