{% extends 'base.html' %}
{% load staticfiles %}

{% block blockone %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<link rel="stylesheet" type="html/css" href="{% static 'styles.css' %}">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- This is stuff facebook needs, in part, to *share to facebook* -->
	<meta property="og:url"                content="http://www.boulderutah.com" />
	<meta property="og:type"               content="Recipe" />
	<meta property="og:title"              content="Pretty Much Yummy" />
	<meta property="og:image"              content="" />


	<title>Document</title>
</head>

<body>

	<div class="container">



		<section id="one" class="wrapper style1">

						<div class="inner">
							<article class="feature left">
								<span class="image3" style="background-image: url('/media/{{ recipe.image }}')"></span>
								<div class="content">
									<span class="text70">{{ recipe.name|safe }}</span>
									<ul class="actions">
										<li>
											{% for ingredient in ingredients %}
												<span style="margin-left: 15px;"{{ ingredient|linebreaks }} </span>
											{% endfor %}
										</li>
									</ul>
									<li>
										<a href="/" class="button alt">back</a>
									</li>
									<ul class="icons">
										<li><a href="https://www.facebook.com/" class="icon fa-facebook">
											<span class="label">Facebook</span>
										</a></li>
										<li><a href="#" class="icon fa-twitter">
											<span class="label">Twitter</span>
										</a></li>
										<li><a href="#" class="icon fa-instagram">
											<span class="label">Instagram</span>
										</a></li>
										<li><a href="#" class="icon fa-linkedin">
											<span class="label">LinkedIn</span>
										</a></li>
									</ul>
								
								</div>
							</article>

							
						</div>
					</section>	


			{% for recipe in random_recipes %}
					<section id="one" class="wrapper style1">

						<div class="inner">
							<article class="feature left">
								<span class="image" style="background-image: url('/media/{{ recipe.image }}')"></span>
								<div class="content">
									<span class="text70">{{ recipe.name|safe }}</span>
									<ul class="actions">
										<li>
											<a href="/detail/{{ recipe.slug }}" class="button alt">How Do I Make This</a>
										</li>
									</ul>
									<ul class="icons">
										<li><a href="https://www.facebook.com/" class="icon fa-facebook">
											<span class="label">Facebook</span>
										</a></li>
										<li><a href="#" class="icon fa-twitter">
											<span class="label">Twitter</span>
										</a></li>
										<li><a href="#" class="icon fa-instagram">
											<span class="label">Instagram</span>
										</a></li>
										<li><a href="#" class="icon fa-linkedin">
											<span class="label">LinkedIn</span>
										</a></li>
									</ul>
								
								</div>
							</article>
						</div>
					</section>	
  			{% endfor %}


	</div><!--container-->
	

</body>
{% endblock blockone %}