{% extends 'base.html' %}
{% load staticfiles %}



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">


	<title>Document</title>
</head>

<body>
	{% block blockone %}
	<div class="container">



		<section id="one" class="wrapper style1">

						<div class="inner">
							<article class="feature left">
								<span class="image3" style="background-image: url('/media/{{ recipe.image }}')"></span>
								<div class="content">
									<span class="text70">{{ recipe.name|safe }}</span>
									<ul class="actions">
										<li>
											{% for ingredient in ingredients %}
												<span style="margin-left: 15px;"{{ ingredient|linebreaks }} </span>
											{% endfor %}
										</li>
									</ul>
									<li>
										<a href="/" class="button alt">back</a>
									</li>
									<ul class="icons">
										<li><a href="https://www.facebook.com/" class="icon fa-facebook">
											<span class="label">Facebook</span>
										</a></li>
										<li><a href="#" class="icon fa-twitter">
											<span class="label">Twitter</span>
										</a></li>
										<li><a href="#" class="icon fa-instagram">
											<span class="label">Instagram</span>
										</a></li>
										<li><a href="#" class="icon fa-linkedin">
											<span class="label">LinkedIn</span>
										</a></li>
									</ul>
								
								</div>
							</article>


						</div>
					</section>	

			<h2 class="centerText">A Few Randomly Selected Recipes</h2>
			{% for recipe in random_recipes %}
					<section id="one" class="wrapper style1">

						<div class="inner">
							<article class="feature left">
								<span class="image" style="background-image: url('/media/{{ recipe.image }}')"></span>
								<div class="content">
									<span class="text70">{{ recipe.name|safe }}</span>
									<ul class="actions">
										<li>
											<a href="/detail/{{ recipe.slug }}" class="button alt">How Do I Make This</a>
										</li>
									</ul>
									<ul class="icons">

										<li><a href="https://www.facebook.com/" class="icon fa-facebook">
											<span class="label">Facebook</span>
										</a></li>
										<li><a href="#" class="icon fa-twitter">
											<span class="label">Twitter</span>
										</a></li>
										<li><a href="#" class="icon fa-instagram">
											<span class="label">Instagram</span>
										</a></li>
										<li><a href="#" class="icon fa-linkedin">
											<span class="label">LinkedIn</span>
										</a></li>
									</ul>
								
								</div>
							</article>
						</div>
					
					</section>	
  			{% endfor %}


	</div><!--container-->

{% endblock blockone %}
</body>